{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
<h1>User</h1>

<table class="table">
    <tbody>
        <tr>
            <th>ID</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>{{ user.firstName }}</td>
        </tr>
        <tr>
            <th>Is Active</th>
            <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ user.createdAt }}</td>
        </tr>
        <tr>
            <th>UpdatedAt</th>
            <td>{{ user.updatedAt }}</td>
        </tr>
    </tbody>
</table>

<ul class="list-center">
    <li>
        <a href="{{path('app_admin_user_index')}}">back to list</a>
    </li>
    <li>
        <a href="{{path('app_admin_user_edit',{'id':user.id})}}">edit</a>
    </li>
</ul>
{% endblock %}