{% extends 'base.html.twig' %}

{% block title %}Amazing - Articles
{% endblock %}

{% block body %}
	{% for article in articles %}
		<section>
			<h2>
				<a href="{{path('app_article_show', {'id': article.id} )}}">{{ article.title }}</a>
			</h2>
			<p class="content">{{ article.content }}</p>
			{% if article.author %}
				<p class="author">
					Author:
					{{ article.author.name }}
					{{ article.author.firstname }}
				</p>
			{% endif %}
		</section>
	{% endfor %}
{% endblock %}
