{% extends 'base.html.twig' %}

{% block title %}Admin - Articles
{% endblock %}

{% block body %}
	<h1>Articles</h1>

	<a href="{{ path('app_admin_article_create') }}">Create new</a>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Content</th>
				<th>IsPublished</th>
				<th>CreatedAt</th>
				<th>UpdatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<td>{{ article.id }}</td>
					<td>{{ article.title }}</td>
					<td>{{ article.content }}</td>
					<td>{{ article.isPublished ? 'Yes' : 'No' }}</td>
					<td>{{ article.createdAt}}</td>
					<td>{{ article.updatedAt}}</td>
					<td>
						<a href="{{ path('app_admin_article_show', {'id': article.id}) }}">show</a>
						<a href="{{ path('app_admin_article_edit', {'id': article.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
